node_modules
*.tsbuildinfo
lib/**/*.js
test/fixtures/*/output
test/baselines/local
**/.vscode/*
!**/.vscode/tasks.json
!**/.vscode/settings.template.json
!**/.vscode/launch.template.json
!**/.vscode/extensions.json
